# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore files and directories outside the project
../../*
../*

# Ignore macOS-specific files
.DS_Store
.Trash/

# Ignore IDE and editor-specific files
.idea/
*.iml

# Ignore system files and configurations
.bash_profile
.zsh_history
.config/
.local/
